<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vivlio"
    android:theme="@style/AppTheme.NoActionBar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vivlio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.RequestDetailActivity"></activity>
        <activity android:name=".Activities.Mybook_Accepted" />
        <activity android:name=".Activities.AddBook" />
        <activity android:name=".Activities.Mybook_Borrowed" />
        <activity android:name=".Activities.EditBook" />
        <activity android:name=".Activities.Mybook_Avalible" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.ReturningTaskActivity" />
        <activity android:name=".Activities.RecievingTaskActivity" />
        <activity android:name=".Activities.CreateAccountActivity" />
        <activity android:name=".Activities.BorrowTaskActivity" />
        <activity android:name=".Activities.SuccessExchangeActivity" />
        <activity android:name=".Activities.BarcodeScannerActivity" />
        <activity android:name=".Activities.LendTaskActivity" />
        <activity android:name=".Activities.Mybook_Pending" />
        <activity
            android:name=".Activities.SearchDetailActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SearchUserDetailActivity"
            android:parentActivityName=".Activities.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activities.LocationActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--              The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />
    </application>

</manifest>